In [ ]:
#print all the even numbers in a array
#print all the odd numbers in an array
#iterate a seq if 'x' is div by 3="hello"
                if 'x' id div by 5="world"
                 if 'x' id div by 3&5="world"
#without using if condition print even numbers upto n
#all odd numbers

In [35]:
#double all the even indexed values in an array
a=[0,1,2,3,4,5,6]
for i in range(0,len(a),2):
    a[i] =a[i]*2 #a[i]*=2
print(a)

[0, 1, 4, 3, 8, 5, 12]

In [34]:
##double all the even indexed values in an array
#triple all the odd indexed values in an array
a=[6,8,9,12,10]
for i in range(5):
    if i%2==0:
        a[i]=a[i]*2
    else:
        a[i]=a[i]*3
print(a)

[12, 24, 18, 36, 20]

In [36]:
#triple all the odd indexed values in an array
a=[0,1,2,3,4,5,6]
for i in range(0,len(a),2):
    a[i] =a[i]*3 #a[i]*=2
print(a)

[0, 1, 6, 3, 12, 5, 18]

In [14]:
a=[1,2,3,4,5]
for i in range(5):
    print(a[i])

1
2
3
4
5

In [16]:
a=range(5)
print(a[0])
print(a[4])

0
4

In [19]:
a=[0,1,2,3,4]
a[0]=6
print(a)

[6, 1, 2, 3, 4]

In [21]:
t=a.pop(4)
print(t)

4

In [30]:
a=[1,2,3,4]
del a
#print(a)
#it shows a is not defined

In [33]:
a=[1,2,3,4]
del a[3]
print(a)

[1, 2, 3]

In [37]:
a=[1,2,3,4,5,6]
print(a)

[1, 2, 3, 4, 5, 6]

In [38]:
a=range(n)

NameError: name 'n' is not defined